# Olympics-analysis

## Import libraries

In [11]:
pip install -r requirements.txt

Requirement already satisfied: numpy in d:\python\lib\site-packages (from -r requirements.txt (line 1)) (2.0.2)
Requirement already satisfied: pandas in d:\python\lib\site-packages (from -r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: matplotlib in c:\users\14479\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 3)) (3.10.0)
Requirement already satisfied: seaborn in c:\users\14479\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 4)) (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\14479\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 5)) (1.6.1)
Requirement already satisfied: tensorflow in c:\users\14479\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 6)) (2.18.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\python\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\python\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\python\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\14479\appdata\roaming\python\python311\site-packages (from matplotlib->-r requirements.txt (line 3)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\14479\appdata\roaming\python\python311\site-packages (from matplotlib->-r requirements.txt (line 3)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\14479\appdata\roaming\python\python311\site-packages (from matplotlib->-r requirements.txt (line 3)) (4.55.5)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\14479\appdata\roaming\python\python311\site-packages (from matplotlib->-r requirements.txt (line 3)) (1.4.8)
Requirement already satisfied: packaging>=20.0 in d:\python\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (23.2)
Requirement already satisfied: pillow>=8 in d:\python\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\python\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (3.2.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\14479\appdata\roaming\python\python311\site-packages (from scikit-learn->-r requirements.txt (line 5)) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\14479\appdata\roaming\python\python311\site-packages (from scikit-learn->-r requirements.txt (line 5)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\python\lib\site-packages (from scikit-learn->-r requirements.txt (line 5)) (3.5.0)
Requirement already satisfied: tensorflow-intel==2.18.0 in c:\users\14479\appdata\roaming\python\python311\site-packages (from tensorflow->-r requirements.txt (line 6)) (2.18.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\14479\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\14479\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in d:\python\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (25.1.21)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\14479\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\14479\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in d:\python\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in d:\python\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (3.4.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in d:\python\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (5.29.3)
Requirement already satisfied: requests<3,>=2.21.0 in d:\python\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (2.31.0)
Requirement already satisfied: setuptools in d:\python\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (65.5.0)
Requirement already satisfied: six>=1.12.0 in d:\python\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in d:\python\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in d:\python\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in d:\python\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\14479\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (1.70.0)
Requirement already satisfied: tensorboard<2.19,>=2.18 in c:\users\14479\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (2.18.0)
Requirement already satisfied: keras>=3.5.0 in c:\users\14479\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (3.8.0)
Requirement already satisfied: h5py>=3.11.0 in c:\users\14479\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (3.12.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in c:\users\14479\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (0.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in d:\python\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (0.31.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in d:\python\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (0.45.1)
Requirement already satisfied: rich in c:\users\14479\appdata\roaming\python\python311\site-packages (from keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (13.9.4)
Requirement already satisfied: namex in d:\python\lib\site-packages (from keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (0.0.8)
Requirement already satisfied: optree in c:\users\14479\appdata\roaming\python\python311\site-packages (from keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (0.14.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\python\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\python\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\python\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\python\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (2024.2.2)
Requirement already satisfied: markdown>=2.6.8 in c:\users\14479\appdata\roaming\python\python311\site-packages (from tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in d:\python\lib\site-packages (from tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in d:\python\lib\site-packages (from tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in d:\python\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (2.1.5)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\14479\appdata\roaming\python\python311\site-packages (from rich->keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in d:\python\lib\site-packages (from rich->keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (2.17.2)
Requirement already satisfied: mdurl~=0.1 in c:\users\14479\appdata\roaming\python\python311\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 6)) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

import tensorflow as tf
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

## Reading Datasets

### athletes_data

In [3]:
athletes_data = pd.read_csv('2025_Problem_C_Data\summerOly_athletes.csv')


athletes_data

,Name,Sex,Team,NOC,Year,City,Sport,Event,Medal
0,A Dijiang,M,China,CHN,1992,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,A Lamusi,M,China,CHN,2012,London,Judo,Judo Men's Extra-Lightweight,No medal
2,Gunnar Aaby,M,Denmark,DEN,1920,Antwerpen,Football,Football Men's Football,No medal
3,Edgar Aabye,M,Denmark/Sweden,DEN,1900,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Cornelia (-strannood),F,Netherlands,NED,1932,Los Angeles,Athletics,Athletics Women's 100 metres,No medal
...,...,...,...,...,...,...,...,...,...
252560,Sefora Ada,F,Equatorial Guinea,GEQ,2024,Paris,Athletics,Women's 100m,No medal
252561,Emanuela Liuzzi,F,Italy,ITA,2024,Paris,Wrestling,Women's Freestyle 50kg,No medal
252562,Isayah Boers,M,Netherlands,NED,2024,Paris,Athletics,4 x 400m Relay Mixed,Gold
252563,Kevin Staut,M,France,FRA,2024,Paris,Equestrian,Jumping Team,Bronze
252564,Charlie Carvell,M,Great Britain,GBR,2024,Paris,Athletics,Men's 4 x 400m Relay,Bronze

In [4]:
athletes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252565 entries, 0 to 252564
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    252565 non-null  object
 1   Sex     252565 non-null  object
 2   Team    252565 non-null  object
 3   NOC     252565 non-null  object
 4   Year    252565 non-null  int64
 5   City    252565 non-null  object
 6   Sport   252565 non-null  object
 7   Event   252565 non-null  object
 8   Medal   252565 non-null  object
dtypes: int64(1), object(8)
memory usage: 17.3+ MB

In [5]:
athletes_data['Team'].value_counts()

Team
United States    16236
Great Britain    11390
France           11360
Italy             9185
Germany           8622
                 ...
Formosa              1
Danzig               1
Salinero             1
Brynhild-2           1
Elvis Va             1
Name: count, Length: 1193, dtype: int64

In [6]:
athletes_data['Medal'].value_counts()

Medal
No medal    213747
Bronze       13070
Gold         13002
Silver       12746
Name: count, dtype: int64

### host_data

In [8]:
host_data = pd.read_csv('2025_Problem_C_Data\summerOly_hosts.csv')

host_data

    Year                                               Host
0   1896                                     Athens, Greece
1   1900                                      Paris, France
2   1904                           St. Louis, United States
3   1908                             London, United Kingdom
4   1912                                  Stockholm, Sweden
5   1916          Cancelled (WWI – Berlin had been awarded)
6   1920                                   Antwerp, Belgium
7   1924                                      Paris, France
8   1928                             Amsterdam, Netherlands
9   1932                         Los Angeles, United States
10  1936                                    Berlin, Germany
11  1940          Cancelled (WWII – Tokyo had been awarded)
12  1944         Cancelled (WWII – London had been awarded)
13  1948                             London, United Kingdom
14  1952                                  Helsinki, Finland
15  1956                               Melbourne, Australia
16  1960                                        Rome, Italy
17  1964                                       Tokyo, Japan
18  1968                                Mexico City, Mexico
19  1972                               Munich, West Germany
20  1976                                   Montreal, Canada
21  1980                               Moscow, Soviet Union
22  1984                         Los Angeles, United States
23  1988                                 Seoul, South Korea
24  1992                                   Barcelona, Spain
25  1996                             Atlanta, United States
26  2000                                  Sydney, Australia
27  2004                                     Athens, Greece
28  2008                                     Beijing, China
29  2012                             London, United Kingdom
30  2016                             Rio de Janeiro, Brazil
31  2020   Tokyo, Japan (postponed to 2021 due to the co...
32  2024                                      Paris, France
33  2028                         Los Angeles, United States
34  2032                                Brisbane, Australia

### medal_data

In [11]:
medal_data = pd.read_csv('2025_Problem_C_Data\summerOly_medal_counts.csv')

medal_data

      Rank                   NOC  Gold  Silver  Bronze  Total  Year
0        1         United States    11       7       2     20  1896
1        2                Greece    10      18      19     47  1896
2        3               Germany     6       5       2     13  1896
3        4                France     5       4       2     11  1896
4        5         Great Britain     2       3       2      7  1896
...    ...                   ...   ...     ...     ...    ...   ...
1430    84                 Qatar     0       0       1      1  2024
1431    84  Refugee Olympic Team     0       0       1      1  2024
1432    84             Singapore     0       0       1      1  2024
1433    84              Slovakia     0       0       1      1  2024
1434    84                Zambia     0       0       1      1  2024

[1435 rows x 7 columns]

In [12]:
medal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    1435 non-null   int64
 1   NOC     1435 non-null   object
 2   Gold    1435 non-null   int64
 3   Silver  1435 non-null   int64
 4   Bronze  1435 non-null   int64
 5   Total   1435 non-null   int64
 6   Year    1435 non-null   int64
dtypes: int64(6), object(1)
memory usage: 78.6+ KB

### programs_data

In [15]:
programs_data= pd.read_csv('2025_Problem_C_Data\summerOly_programs.csv')

programs_data

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x95 in position 1038: invalid start byte